form{
    margin: 10px 20px;
}
.container1{
   
    background-color: white;
    text-align: center;
}

.container2{
    background-color:whitesmoke;
    border-radius: 10px;
    text-align: center;
    padding: 5px 20px;
}
.container3{
    background-color:white;
    border-radius: 10px;
    text-align: center;
    padding: 5px 20px;
}

.container4{
    background-color:whitesmoke;
    border-radius: 10px;
    text-align: center;
    padding: 5px 20px;
}

.checked{
    color:orange;
}